.devide-col{
  width: 100%;
  height: 55px;
  position: relative;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--color-gray-white) ;
  background-image: linear-gradient(#242526, #242526, #242526);
}

.col-left{
  width: 23%;
  display: flex;
  align-items: center;
}

.col-left .icon-face {
  line-height: 5px;
  text-align: center;
  width: 17%;
}

.col-left .icon-face a img{
  background-size: cover;
  border-radius: 55%;
  width: 70%;
  height: 56%;
}


.col-left .search-face{
  align-items: center;
  display: flex;
  width: 78%;
  height: 40px;
  

}

.col-left .search-face input{
  padding-left: 7px;
  width: 90%;
  height: 100%;
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
  border: none;
  background-color: var(--color-gray-white);
}

.col-left .search-face .icon-search{
  width: 10%;
  height: 100%;
  color: #b0b3b8;
  background-color: white;
  border-bottom-left-radius: 50px;
  border-top-left-radius: 50px;
  background-color: var(--color-gray-white);
}

.col-left .search-face .icon-search i{
  line-height: 39px;
  margin-left: 10px;
}

::placeholder { 
  color: #b0b3b8;
}

.col-center{
  width: 45%;
}

.col-center .list-item-header ul{
  display: flex;
  justify-content: center;


}


.col-center .list-item-header ul li{
  list-style: none;
  width: 17%;
  font-size: 23px;
  line-height: 52px;
  text-align: center;
}

.col-center .list-item-header ul li.item-active{
  color: var(--color-blue);
  border-bottom: 4px solid var(--color-blue) ;
}



.col-center .list-item-header ul li .item-list:hover{
  background-color: var(--color-gray-white);
  border-radius: 7px;

}




.col-right{
  width: 24%;

  padding: 8px 20px 8px 0;
}

.col-right .list-info ul{
  display: flex;
  list-style: none;
  justify-content: right;
}


.col-right .list-info ul li .item-bell{
  margin-left: 6px;
  width: 40px;
  background-color:var(--color-gray-white);
  text-align: center;
  height: 40px;
  line-height: 44px;
  border-radius: 50%;
}

.col-right .list-info ul li .item-bell:hover{
  background-color: #575a5e;
}



.col-right .list-info ul li a i{
  font-size: 18px;
  color:#e4e6eb;
}

.col-right .list-info .acount a{
  display: flex;
  width: 80px;
  justify-content: space-between;
  padding-top: 15px;
  padding: 5px;
  margin-right: 10px;
}

.col-right .list-info .acount:hover{
  border-bottom-left-radius: 50px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  width: 100%;
  height: 41px;
  background-color: #575a5e;
}

.col-right .list-info ul li .acount .img-acount{
  width: 40%;
  height: 100%;

}
.col-right .list-info ul li .acount .img-acount img{
  width: 100%;
  border-radius: 50%;

}
.col-right .list-info ul li .acount .name-acount{
  width: 50%;
  line-height: 33px;
  height: 100%;
}
.col-right .list-info ul li .acount .name-acount span{
  width: 100%;
  height: 100%;
  color: white;
  font-weight: 600;
}


/* newsfeed */

.newsfeed .story-admin{
  position: relative;
  
}

.newsfeed .story-admin ul{
  list-style: none;
  display: flex;
  text-align: center;
  justify-content: center;

  

}

.newsfeed .story-admin ul li{
  width: 14%;
  height: 192px;
  margin-right: 7px;

}

.newsfeed .story-admin .admin-firts img{
  width: 100%;
  height: 100%;
  background-size: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.newsfeed .story-admin .bg-name{
  background-color: #242526;
  width: 118px;
  height: 54px;
  position: fixed;
  top: 258px;
  text-align: center;
  line-height: 68px;
  font-weight: 600;
  font-size: 13px;
  color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.newsfeed .story-admin .bg-name .icon-flus i{
  position: absolute;
  top: -19px;
  left: 37px;
  background-color: #2e89ff;
  width: 31px;
  height: 30px;
  text-align: center;
  line-height: 31px;
  border-radius: 50%;
  border: 4.1px solid #242526;
  font-size: 20px;

}

.admin-cutomer {
  width: 100%;
  height: 200px;
  position: relative;
}
.admin-cutomer img{
  width: 100%;
  height: 100%;
  background-size: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}


.circle-img img{
  left: 12px;
  width: 31px;
  height: 31px;
  border-radius: 50%;
  border: 4.1px solid #2e89ff;
  position: absolute;
  top: 12px;
}

.admin-cutomer span{
  position: absolute;
  font-weight: 600;
  font-size: 13px;
  color: white;
  bottom: 10px;
  left: 21px;
}

.arrow{
  font-size: 17px;
  border-radius: 50%;
  line-height: 39px;
  text-align: center;
  background-color: #3e4042;
  width: 40px;
  height: 40px;
  position: absolute;
  right: 96px;
  top: 77px;


}

.post-add{
  margin-top: 20px;
}
.post-add .yourmind{
  background-color: #242526;
  width: 71%;
  margin: 0 auto;
  padding: 12px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}

.post-add .yourmind .acount-comment {
  display: flex;


}


.post-add .yourmind .acount-comment .acount-admin {
  height: 40px;
  width: 40px;
}

.post-add .yourmind .acount-comment .acount-admin img {
  width: 100%;
  height: 100%;
  background-size: cover;
  border-radius: 50%;
}


.post-add .yourmind .acount-comment .comment input{
  width: 536px;
  margin-left: 6px;
  height: 40px;
  border-radius: 50px;
  border: none;
  font-size: 17px;
  background-color: var(--color-gray-white);
  padding-left: 14px;
}

.post-add .yourmind .acount-comment .comment input:hover{
  background-color: #6a6c6e;

}


hr{
  height: 1.5px;
  border-width: 0;
  color: black;
  margin-top: 13px;
  background-color: #2d2e2f;
}


.live-photo-feel{
  padding: 14px 0 10px 0;
  display: flex;
  width: 100%;
  justify-content: center;

}


.item-icon-post{
  width: 29%;
  display: flex;
}

.item-icon-post .live-post{

  color:#f3425f;
  font-size: 21px;
}
.item-icon-post .photo-post{

  color:#45bd62;
  font-size: 21px;
}
.item-icon-post .grin-post{

  color:#f7b928;
  font-size: 21px;
}
.item-icon-post .text-post{
  margin-left: 10px;
  line-height: 27px;
  font-weight: 600;
}


/* body-facebook */

.center-fa{
  background-color: #242526;
  width: 74%;
  margin: 0 auto;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;

}


.imga-info{
  display: flex;
  padding: 15px 15px 5px 15px;
}


.imga-info .icon-admin{
  width: 10%;
}
.imga-info .icon-admin img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  
}

.content-face{
  margin-top: 20px;
}



.imga-info .intro{
  width: 130%;
  margin-left: 10px;
}

.down-clock-admin {
  line-height: 22px;
}

.down-clock-admin .name-admin {
  color: white;
  font-weight: 600;
 
}
.down-clock-admin .name-admin:hover{
  text-decoration: underline;
}

.down-clock-admin .name-admin i{
  font-size: 12px;
  color: var(--color-blue);
  background-color: white;
  border-radius: 50%;
  justify-content: center;
  line-height: 10px;
}

.down-clock-admin .down-clock{
  font-size: 12px;

}

.imga-info .dot-space{
  width: 7%;
}

.dot-space{
  font-size: 21px;
}

.content-page{
  margin-left: 15px;
  color: white;
  margin-bottom: 15px;
}

.image-page img{
  width: 100%;
  height: 100%;
}

/* comment-facebook */
.like{
  display: flex;
  width: 94%;
  padding: 10px 20px 15px 18px;
  
}

.like img{
  width: 18px;
  height: 18px;

}

.like .name-comment{
  width: 40%;
  margin-left: 10px;
}
.like .name-comment:hover{
  text-decoration: underline;
}

.like .quanlity-comment{
  margin-left: 119px;
}
.like .quanlity-comment:hover{
  text-decoration: underline;
}


.like .quanlity-shares{
  margin-left: 10px;
}
.like .quanlity-shares:hover{
  text-decoration: underline;
}

.item-bar-fa{
  display: flex;
  width: 94%;
  justify-content: space-between;
  text-align: center;
  padding: 5px 20px 2px 18px;
}

.item-like{
  width: 17%;
  padding: 8px 46px;

}
.item-like:hover{
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  background-color: #575a5e;
  padding: 8px 46px;

} 


.item-like i{
  font-size: 18px;
}

.item-like span{
  margin-left: 7px;
  font-weight: 600;
}

.space-com{
  width: 94%;
  padding: 0 20px 0 18px;
}

.space-com hr{
  height: 0.5px;
  border-width: 0;
  color: #c8c8c8;
  margin-top: 0;
  background-color: #55575a;
}
















.display-flex {
  display: flex !important;
}

.main {
  padding-top: var(--header-height);
  display: grid;
  grid-template-columns: 1fr 2.5fr 1fr;
  background-color: var(--color-bg);
  height: 500vh;

  position: relative;
}

.sidebar__left,
.sidebar__right {
  position: sticky;
  top: var(--header-height);
  left: 0;
  height: calc(100vh - var(--header-height));
  overflow-y: scroll;
  padding: 0.8rem;
}

.sidebar__left:hover::-webkit-scrollbar-thumb,
.sidebar__right:hover::-webkit-scrollbar-thumb {
  display: block;
}

.sidebar__left::-webkit-scrollbar,
.sidebar__right::-webkit-scrollbar {
  width: 9px;
}

.sidebar__left::-webkit-scrollbar-thumb,
.sidebar__right::-webkit-scrollbar-thumb {
  border-radius: 0.6rem;
  background-color: rgba(255, 255, 255, 0.3);
  display: none;
}

.user__actions-list,
.user__shortcuts-list {
  padding-bottom: 1rem;

  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.user__shortcuts-list {
  border-bottom: none;
}

.user__actions-list .profile img {
  border-radius: 50%;
}

.user__actions-list a,
.user__shortcuts-list a {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  height: 4.4rem;
  padding: 0 0.8rem;

  font-size: 1.5rem;
  font-weight: 600;
  color: var(--color-text);
  border-radius: 0.4rem;
}

.user__actions-list a:hover,
.user__shortcuts-list a:hover {
  background-color: rgba(255, 255, 255, 0.05);
}

.user__actions-icon,
.user__shortcut-icon {
  --size: 2.8rem;
  width: var(--size);
  height: var(--size);
  flex-shrink: 0;
}

.user__actions-icon .icon {
  --size: 2.8rem;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;

  background-color: rgba(255, 255, 255, 0.05);
}

.user__actions-icon img,
.user__shortcut-icon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.user__shortcut-icon img {
  border-radius: 0.8rem;
}

.user__actions-notifications {
  display: block;
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--color-blue);
}

.user__actions-notifications::before {
  content: "";
  display: inline-block;
  --size: 0.7rem;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  background-color: var(--color-blue);
  margin-right: 0.4rem;
}

.user__shortcuts-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0.8rem 0.8rem;

  font-size: 1.7rem;
  font-weight: 500;
  color: #b0b3b8;

  height: 4.5rem;
}

.user__shortcuts-setting {
  font-weight: 400;
  color: var(--color-blue);
  padding: 0.8rem;
  border-radius: 0.4rem;

  display: none;
}

.user__shortcuts-title:hover .user__shortcuts-setting {
  display: block;
}

.user__shortcuts-setting:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.05);
}

/*
  Side bar right
*/

.section__title {
  font-size: 1.7rem;
  font-weight: 500;
  color: #b0b3b8;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0.8rem;
}

.user__pages {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.section__action {
  --size: 3.2rem;
  width: var(--size);
  height: var(--size);

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
}

.section__action:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.05);
}

.contact__item-link {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  height: 4.4rem;
  padding: 0 0.8rem;

  font-size: 1.5rem;
  font-weight: 600;
  color: var(--color-text);
  border-radius: 0.4rem;
}

.contact__item-link:hover {
  background-color: rgba(255, 255, 255, 0.05);
}

.contact__item-img {
  --size: 2.8rem;
  width: var(--size);
  height: var(--size);
}

.contact__item-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.contact__detail {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #242526;

  display: flex;
  align-items: center;
  gap: 2rem;
  width: 40rem;
  padding: 1.6rem;
  border-radius: 0.8rem;
  border: 1px solid rgba(255, 255, 255, 0.1);

  color: var(--color-text);

  display: none;
}

.contact__detail-img {
  --size: 10rem;
  width: var(--size);
  height: var(--size);
  flex-shrink: 0;
}

.contact__detail-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.contact__detail-name {
  font-size: 2.2rem;
  font-weight: bold;
}

.contact__detail i {
  color: rgba(255, 255, 255, 0.3);
  width: 2.2rem;
}

.contact__detail-friends {
  margin: 1rem 0;
}

.contact__detail-friends a,
.contact__detail-location a {
  font-weight: 500;
}

.contact__detail-friends a:hover,
.contact__detail-location a:hover {
  text-decoration: underline;
}
